:javascript
  $(function () {
    //Make sure getTruckPrice and setTruckPrice use TruckPricer for tier function context
    // so calls inside them to this.makeRequestParams() work as expected. I am sure
    // that there is a better way to do this, but don't know how.
    $("select", "#price_form").change(function(event) {
      TruckPricer.getTruckPrice.call(TruckPricer, event)
    });

    //Hide the submit button so they can't use it if Javascript is enabled
    //$("#price_submit").click(function (event) {
      //@TODO: validation here
      //TruckPricer.setTruckPrice.call(TruckPricer, event);
    //});

    TruckPricer.getTruckPrice.call(TruckPricer);
  });

#price_form
  %form{ :id => "price_form", :method => "POST", :action => "/price" }
    .field
      .label
        = label_tag :truck_model_id
      = select_tag :truck_model_id, :id => "truck_model", :options => @truck_model_options
    .field
      .label
        = label_tag :engine_id
      = select_tag :engine_id, :id => "engine", :options => @engine_options
    .field
      .label
        = label_tag :year_id
      = select_tag :year_id, :id => "year", :options => @year_options
    #message
    .field
      .label
        = label_tag :price
      = text_field_tag :price, :id => "price", :placeholder => "One billion dollars"
    = submit_tag "Set Price", :id => "price_submit"
