:javascript
  $(function() {
    var temp = $("#vin_form");
    $("#vin_form").submit(function(event) {
      //Validate VIN and miles
      var miles = new RegExp(/^[0-9]+\s*$/);
      var vinRegexp = new RegExp(/^[A-Za-z0-9]+\s*$/);
      var error = "";
      if (!vinRegexp.test($("#vin_field").val())) {
        error += "Error: VIN must consist of letters or numbers only, and cannot be blank.\n";
      }
      if (!miles.test($("#miles_field").val())) {
        error += "Error: Miles files must consist of only digits, and cannot be blank.";
      }

      if (error !== "") {
        error += "Did you check for spaces at the end?\n";
        event.preventDefault();
        alert(error);
        return false;
      }
      else {
        return true;
      }
    });
  });

#vin_form_wrapper
  %form{ :id => "vin_form", :action => "/", :method => "GET"}
    .field
      .label
        %label{ :for => :vin} VIN:
      = text_field_tag :vin, :id => "vin_field", :placeholder => "Enter VIN here"
    .field
      .label
        = label_tag :miles
      = text_field_tag :miles, :id => "miles_field", :placeholder => "Enter mileage"
    .submit
      = submit_tag "Decode", :id => "vin_submit"
- if @price
  .result
    #{@year.name} #{@model.name} #{@engine.name}
    %br
    .valuation
      Valuation:
      %span#price= format_as_currency @price
    %p
      Quote is valid for 30 days, and assumes
      %a{:href => "http://uta.org/downloads/docs/UTA_TradeTerms_11-2010.pdf", :target => "_blank"} trade terms 
      are met.
      In the event that mileage changes by more than 5,000, valuation
      must be performed again at time of trade in.
