:javascript
  //a comment!
%h1 Look Up A VIN!
#vin-form
  %form{ :id => "vin_form", :action => "/", :method => "POST"}
    .field
      .label
        = label_tag :vin
      = text_field_tag :vin, :id => "vin_field", :placeholder => "Enter VIN here"
    .field
      .label
        = label_tag :miles
      = text_field_tag :miles, :id => "miles_field", :placeholder => "Enter mileage"
    .submit
      = submit_tag "Look up VIN", :id => "vin_submit"


